@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.deem {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.close-btn-signup {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    /* transform: translateX(-400%);
    transform: translateY(200%); */
    transform: translate(-200% , 130%);
    font-size: 18px;
}
.signup {
   
    background-color: rgba(255, 255, 255, 0.13);
    position: absolute;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 50px 35px;
    position: absolute;
    top: 0;
    max-width: 800px;
    /* background: #fff; */
    width: 400px;
    padding: 15px 30px;
    margin: 25px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.signup .signup-text {
    text-align: center;
    font-size: 41px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    background: -webkit-linear-gradient(right, #56d8e4, #9f01ea, #56d8e4, #9f01ea);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.signup form {
    padding: 20px 0 0 0;
}

.signup form .signup-form-row {
    display: flex;
    margin-bottom: 42px;
}

.signup form  .signup-input-data {
    width: 100%;
    height: 40px;
    margin-top: 20px;
    position: relative;
}



.signup .signup-input-data input{
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    font-size: 17px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.12);
}

.signup .signup-input-data input:focus~label,
.signup .textarea textarea:focus~label,
.signup .signup-input-data input:valid~label,
.signup .textarea textarea:valid~label {
    transform: translateY(-35px);
    font-size: 14px;
    color: #3498db;
}

.signup .textarea textarea {
    resize: none;
    padding-top: 10px;
}

.signup .signup-input-data label {
    position: absolute;
    pointer-events: none;
    bottom: 10px;
    font-size: 15px;
    padding-left: 10px;
    font-family: 'poppins', Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
    transition: all 0.3s ease;
}

 
.signup .signup-input-data .underline {
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 100%;
}

.signup .signup-input-data .underline:before {
    position: absolute;
    content: "";
    height: 2px;
    width: 100%;
    background: #3498db;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
}

.signup .signup-input-data input:focus~.underline:before,
.signup .signup-input-data input:valid~.underline:before,
.signup .textarea textarea:focus~.underline:before,
.signup .textarea textarea:valid~.underline:before {
    transform: scale(1);
}

.signup #signup-btn .signup-input-data input {
    background: linear-gradient(115deg, #56d8e4 10%, #9f01ea 90%);
    transition: all 0.4s;
}

.signup-input-data input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 29px;
    font-size: 14px;
    font-weight: 300;
    width: 200px;
    border: 2px solid none;
    border-radius: 8px;
}

.signup #signup-btn .signup-input-data input:hover {
    background: -webkit-linear-gradient(right, #56d8e4, #9f01ea, #56d8e4, #9f01ea);
}

#car-number input{
    padding: 10px 5px;
}